
@font-face {
    src: url(font/theboldfont.ttf);
    font-family: boldfont;
}

@font-face {
    src: url(font/Uni\ Sans\ Heavy.otf);
    font-family: unisans;
}
@font-face {
    src: url(font/moongetheavy.ttf);
    font-family: moonheavy;
}

@font-face {
    src: url(font/SourceSansPro-Bold.ttf);
    font-family: sourcesanspro;
}

@font-face {
    src: url(font/QanelasSoftDEMO-ExtraBold.otf);
    font-family: qanelas;
}


  
#nav-text {
    font-size: 25px;
    font-family: sourcesanspro;
    font-weight: bold;
    padding-left: 1.8rem;
    padding-top: .9rem;
    color: #d5d3d0;  
}

.navbar-brand {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -1rem;
}

.footer {
    margin-left: .85rem;
    margin-right: .85rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    border-radius:0px 0px 0px 0px;
    border-top: 1px solid #d5d3d0;
}

#nav {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid #d5d3d0;
}

#menu-pic {
    display: block;
    margin-left: .85rem;
    margin-right: .85rem;
    width: 13%;
    margin-top: 20px;
    padding:.5px;
    border:.5px solid #d5d3d0;
    background-color:white;
    border-radius:50%;
}

#menu-username {
    font-family: sourcesanspro;
    font-size: 20px;
    margin-top: -50px;
    margin-left: 100px;
}

#menu-at {
    font-family: sourcesanspro;
    font-size: 20px;
    margin-top: -50px;
    margin-left: 100px;
    padding-bottom: -50px;
}

#plus {
    position: absolute;
    left: 345px;
    margin-top: -10px;
    color:#d5d3d0;

}

#selection {
    position: absolute;
    left: 385px;
    margin-top: -0px;
}

.dropdown {
    font-family: sourcesanspro;
    font-weight: bold;
}

#dropdown-text {
    text-align: center;
    font-family: sourcesanspro;
    font-weight: bold;
}
