/*Navbar*/
.top {
    height: 2.55rem;
    border-bottom: #33383a 0.5px solid;
}

#navbar-brand {
    width:26px;
    margin-top: -20.28rem;
    margin-bottom: -20rem;
    border-radius: 50%;
}

.navbar-text {
    position: fixed;
    font-size: 20px;
    margin-left: 3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/*END*/

/*footer*/
.bottom {
    border-top: #33383a 0.5px solid;
}

.icon {
    width: 26px;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*END*/

.box {
    max-width: 618px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #33383a 0.5px solid;
    border-right: #33383a 0.5px solid;
    border-left: #33383a 0.5px solid;
}

.pfp {
    width: 48px;
    border-radius: 50%;
    float:left;
    display: block;
    margin: 1rem 0 0 .7rem;
}

.account {
    display: inline;
    padding: 0 .2rem 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
}


.time {
    display: inline;
    padding: 0 0.1rem 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.color {
    padding: 0 0 0 0;
    width: 5px;
    vertical-align: 1px;
    display: inline;
    margin-left: 0rem;
}

.message-preview {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 1rem 0.2rem 4.8rem;
    max-width: 500px;
}

p.message-preview {
    margin: 0 0 0.3rem 0; /*Lower than 0.2rem will cause glitch*/
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

  .form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-bottom-width: 1px;
    border-radius: 0;
  }
  
  .form-control::placeholder {
    font-size: 14px;
    color: #d5d3d0;
  }

  .form-control:focus {
      background-color: #121212;
      color: #d5d3d0;
  }

  .form-control {
    margin-top: -.19rem;
    height: 1.3rem;
    width: 300px;
    background-color: #121212;
  }

  .p-1 {
    margin-top: .1rem;
    margin-left: auto;
    margin-right: auto;
    height: 1.5rem;
    width: 300px;
    border: 1px #d5d3d0 solid;
  }

  .mb-4, .my-4 {
      margin-bottom: .7rem !important;
  }

  #button-addon2 {
      margin-top: -.7rem;
  }

  .fa {
      width: 6px;
  }