@font-face {
    src: url(font/SourceSansPro-Bold.ttf);
    font-family: sourcesanspro;
}

/*Navbar*/
.top {
    height: 2.55rem;
    border-bottom: #33383a 0.5px solid;
}

#navbar-brand {
    width:26px;
    margin-top: -20.28rem;
    margin-bottom: -20rem;
    border-radius: 50%;
}


#plus {
    position: fixed;
    top: 3px;
    right: 3.5rem;
    width: 33px;
}


#search {
    position: fixed;
    top: 5px;
    right: 1.0rem;
    width: 29px;
}
/*END*/

/*Buttons*/
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
 
#tweets {
    border: #55acee solid;
    background-color: #55acee;
    color: white;
}

#videos {
    text-align: center;
    border: #ff0000 solid;
    background-color: #ff0000;
    color: white;
}

#communities {
    border: #ff4500 solid;
    background-color: #ff4500;
    color: white;
}
/*END*/

/*footer*/
.bottom {
    border-top: #33383a 0.5px solid;
    z-index: 1;
}

.icon {
    width: 26px;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*END*/

.box {
    max-width: 2048px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #33383a 0.5px solid;
}

.pfp {
    width: 48px;
    border-radius: 50%;
    float:left;
    display: block;
    margin: 1rem 0 0 .7rem;
}

.account {
    display: inline;
    padding: 0 .2rem 0 1rem;
    font-family: sourcesanspro;
    font-size: 16px;
}

.seperate {
    display: inline;
    padding: 0 0 0 0;
    font-family: sourcesanspro;
    font-size: 8px;
    vertical-align: .2rem;
}

.time {
    display: inline;
    padding: 0 0.1rem 0 0;
    font-family: sourcesanspro;
    font-size: 14px;
}

.color {
    padding: 0 0 0 0;
    width: 5px;
    vertical-align: 1px;
    display: inline;
    margin-left: 0rem;
}

.tweet {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 0 1rem 0.2rem 4.8rem;
}

p.tweet {
    margin-bottom: 0.2rem;
}

.medias {
    text-align: center;
}

.like, .message, .repost, .message1 {
    display:inline-block;
    width: 20px;
    margin: .5rem 1.7rem .5rem 1.7rem;
}

.pic {
    display:inline-block;
    margin: .7rem 0 .7rem 1rem;
    min-width: 274.3px;
    max-width: 274.3px;
    min-height: 154.3px;
    max-height: 154.3px;
    border-radius: .25rem;
    border: #d5d3d0 1px solid;
}

.btn {
    margin-left: 2rem;
}
