
/*Navbar*/
.top {
    height: 2.55rem;
    border-bottom: #33383a 0.5px solid;
}

#navbar-brand {
    width:26px;
    margin-top: -20.28rem;
    margin-bottom: -20rem;
    border-radius: 50%;
}

.navbar-text {
    position: fixed;
    font-size: 20px;
    margin-left: 2.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

#plus {
    position: fixed;
    top: 3px;
    right: 3.5rem;
    width: 33px;
}


#search {
    position: fixed;
    top: 5px;
    right: 1.0rem;
    width: 29px;
}
/*END*/

/*Buttons*/

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .btn {
    border: none;
    outline: none;
    padding: 3px 0;
    background-color: #181b1c;
    color: #d5d3d0;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 85px;
  }

  .container {
    text-align: center;
  }
  .active, .btn:hover {
    background-color: #42484b;
    color: white;
  }

/*END*/

/*footer*/
.bottom {
    border-top: #33383a 0.5px solid;
    z-index: 1;
}

.icon {
    width: 26px;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*END*/

.box {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #33383a 0.5px solid;
    border-right: #33383a 0.5px solid;
    border-left: #33383a 0.5px solid;
    
}

.pfp {
    width: 48px;
    border-radius: 50%;
    float:left;
    display: block;
    margin: 1rem 0 0 .7rem;
}

.account {
    display: inline;
    padding: 0 .2rem 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
}


.time {
    display: inline;
    padding: 0 0.1rem 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.color {
    padding: 0 0 0 0;
    width: 5px;
    vertical-align: 1px;
    display: inline;
    margin-left: 0rem;
}

.tweet {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 1rem 0.2rem 4.8rem;
}

p.tweet {
    margin-bottom: 0.2rem;
}

.medias {
    text-align: center;
}

.like, .message, .repost, .message1 {
    display:inline-block;
    width: 20px;
    margin: .5rem 1.7rem .5rem 1.7rem;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 274.3px;
    height: 154.3px;
    border-radius: .25rem;
    border: #d5d3d0 1px solid;
    margin-bottom: .5rem;
}

