    html[theme="dark"] {
      --bg: #121212;
      --color-nav: #121212;
      --color-heading: #d5d3d0;
      --color-heading2: #989286;
      --color-text: #d5d3d0;
    }
    
    body {
      background-color: var(--bg);
    }

    .navbar {
      background-color: var(--color-nav);
    }
    
    h1 {
      color: var(--color-heading);
    }

    h2, h3, h4 {
      color: var(--color-heading2);
    }

    p {
      color: var(--color-text);
    }


